<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GreenLocation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ReservationController</servlet-name>
    <servlet-class>Controller.ReservationController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>etatVerif</servlet-name>
    <servlet-class>Controller.EtatController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VehiculeController</servlet-name>
    <servlet-class>Controller.VehiculeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>connexionVerif</servlet-name>
    <servlet-class>Controller.UtilisateurController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>inscriptionVerif</servlet-name>
    <servlet-class>Controller.UtilisateurController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>profileVerif</servlet-name>
    <servlet-class>Controller.ProfileController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logoutVerif</servlet-name>
    <servlet-class>Controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutVerif</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>adminCli</servlet-name>
    <servlet-class>Controller.AdminClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminCli</servlet-name>
    <url-pattern>/AdministrationClient</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>enregCli</servlet-name>
    <servlet-class>Controller.EnregistrementCli</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enregCli</servlet-name>
    <url-pattern>/EnregistrementClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>profileVerif</servlet-name>
    <url-pattern>/profilClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>inscriptionVerif</servlet-name>
    <url-pattern>/verifInscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>connexionVerif</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>etatVerif</servlet-name>
    <url-pattern>/verif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VehiculeController</servlet-name>
    <url-pattern>/Vehicules</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReservationController</servlet-name>
    <url-pattern>/Reservation</url-pattern>
  </servlet-mapping>
</web-app>